html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#geo {
  color: #b4cd00;
}
.hero-container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Clase para prevenir FOUC (Flash of Unstyled Content) */
.no-fouc {
  visibility: hidden;
}

.fouc-ready {
  visibility: visible;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.cordillera {
  background-color: white;
}
#geo {
  color: #b4cd00;
}
.hero-nosotros {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/nosotros/principal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10.5rem;
  position: relative;
  transition: background-image 0.5s ease;
}

.hero-nosotros h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 76px;
  font-weight: normal;
  text-align: left;
 
  line-height: 1.1;
  padding: 10ram;
}

@media (max-width: 1200px) {
  .hero-nosotros {
    padding-left: 5rem;
  }

  .hero-nosotros h1 {
    font-size: 72px;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .hero-nosotros {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    text-align: center;
  }

  .hero-nosotros h1 {
    font-size: 48px;
    margin-bottom: 60px;
  }

  /* Añadir estos estilos para el título del hero en dispositivos móviles */
  .hero-nosotros h1 .highlight {
    color: white; /* Color por defecto en escritorio */
  }

  @media (max-width: 768px) {
    .hero-nosotros h1 .highlight {
      color: #b4cd00;
      display: block; /* En móvil, cada parte en su propia línea */
    }

    /* Ocultar el <br> en móvil ya que usamos display: block */
    .hero-nosotros h1 br {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .hero-nosotros {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-nosotros h1 {
    font-size: 50px;
    font-weight: 500;
    padding-right: 100px;
    margin-bottom: 40px;
  }
}

.cordillera-about-card {
  width: 100%;
  max-width: 90vw;
  padding: clamp(1rem, 5vw, 2rem);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.cordillera-about-title {
  padding-top: 100px;
  padding-left: 9rem;
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  font-family: "Roboto";
  font-weight: bold;

  margin-bottom: clamp(1rem, 3vw, 1.875rem);
  line-height: 1.2;
}

.cordillera-about-description {
  font-family: "Roboto";
  font-weight: 400;
  padding-left: 9rem;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1.6;
  padding-bottom: 100px;
  color: #333;
}

/* Media Queries */
/* Móvil */
@media (max-width: 480px) {
  .cordillera-about-card {
    padding: 0;
  }

  .cordillera-about-title {
    padding-left: 50px;
  }
  .cordillera-about-description {
    padding-left: 50px;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .cordillera-about-card {
    padding: 1.5rem;
  }
  .cordillera-about-title {
    padding-left: 50px;
  }
  .cordillera-about-description {
    padding-left: 50px;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .cordillera-about-card {
    padding: 2rem;
  }
}


